<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table app </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body> 
  {% comment %} class="navbar navbar-expand-lg" style="background-color:#DBC4FB; color:black" {% endcomment %}
    <nav class="navbar navbar-expand-lg" style="background-color: #B37FD5" >
        <a class="navbar-brand" href="#" style="color:black"><b>Table App</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/" style="color:black"><b>Home</b> <span class="sr-only">(current)</span></a>
            </li>
          
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/logout"style="color:black" ><b>logout</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile" style="color:black" ><b>Dashboard</b></a>
        </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login/auth0" style="color:black"><b>Login</b></a>
            </li>
            {% endif %}
          </ul>
        
        </div>
      </nav>
  
      {% block body %}
        
  

      {% endblock body %}        
</body>
</html>

