

{% extends 'base.html' %}
{% block body %}

  <div class="px-4 py-5 my-5 text-center" style="postion:absoulte;left:50;border-radius:10px; margin-left:auto;margin-right:auto;padding:20px;width:600px;height=200px;background-color:#DBC4FB" >
    <img class="d-block mx-auto mb-4" src="/static/img/create.png" alt=" create" width="150" height="100">
    <h1 class="display-5 fw-bold"> Create Dynamic Table(s)</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly create dynamic tables(s) and collect all your user data. </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        {% if user.is_authenticated %}
            <a href="{% url 'create_models' %}" class="btn btn-primary btn-lg px-4 gap-3">Create</a>
           {% else %}
           <p class="lead">
            <a href="/login/auth0" class="btn btn-primary btn-lg px-4 gap-3">Login to continue</a>
           </p>
        {% endif %}

      
      </div>
    </div>
  </div>


<div class="px-4 py-5 my-5 text-center"style="postion:absoulte;left:50;border-radius:10px; margin-left:auto;margin-right:auto;padding:20px;width:600px;height=200px;background-color:#DBC4FB" >
    <img class="d-block mx-auto mb-4" src="/static/img/add.jpg" alt=" create" width="150" height="100">
    <h1 class="display-5 fw-bold"> Add Data To Your Table(s)</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Add or modify data inside table </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        {% if user.is_authenticated %}
        <a href="{% url 'add_entries' %}" class="btn btn-primary btn-lg px-4 gap-3">Add/modify</a>
           {% else %}
           <p class="lead">
            <a href="/login/auth0" class="btn btn-primary btn-lg px-4 gap-3">Login to continue</a>
           </p>
        {% endif %}

      
      </div>
    </div>
  </div>



     <div class="px-5 py-5 my-5 text-center" style="postion:absoulte;left:50;border-radius:10px; margin-left:auto;margin-right:auto;padding:20px;width:600px;height=200px;background-color:#DBC4FB" >
       
    <img class="d-block mx-auto mb-4" src="/static/img/view.jpg" alt=" create" width="150" height="100">
  
    <h1 class="display-5 fw-bold" > View Data Inside Table(s)</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">View/search data inside table, filter data coloum wise  </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        {% if user.is_authenticated %}
      <a href="{% url 'show_objects' %}" class="btn btn-primary btn-lg px-4 gap-3">View</a>
           {% else %}
           <p class="lead">
            <a href="/login/auth0" class="btn btn-primary btn-lg px-4 gap-3">Login to continue</a>
           </p>
        {% endif %}

      
      </div>
    </div>
  </div>  
  {% endblock body %}


